@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    padding: 30px;
}

/*section title*/
.section-title {
    color: #562EFF;
    font-size: 24px;
}

/* top players css */

.playersTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.player img {
    width: 56px;
    height: 56px;
}

.players-name {
    margin-left: 10px;
    font-size: 18px;

}

hr {
    border: 1px solid #D1D1D1;
}

/*top blogs*/
.topBlogs {
    display: flex;
    align-items: center;
}

 .imgBlogs img {
    width: 177px;
    height: 117px;
}
.blogsDetails{
    margin-left: 10px;
}
.author{
    color:#9F9F9F
}
.author a{
    text-decoration: none;
    color:#562EFF
}