@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;

}

main {
    display: flex;

    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    padding: 30px;
}

/*section title*/
.section-title {
    color: #562EFF;
    font-size: 24px;
}

/* top players css */

.playersTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.player img {
    width: 56px;
    height: 56px;
}

.players-name {
    margin-left: 10px;
    font-size: 18px;

}

hr {
    border: 1px solid #D1D1D1;
}

/*top blogs*/
.blogSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap : 30px;
}
.topBlogs {
    display: flex;
    align-items: center;
}

 .imgBlogs img {
    width: 177px;
    height: 117px;
}
.blogsDetails{
    margin-left: 10px;
}
.author{
    color:#9F9F9F
}
.author a{
    text-decoration: none;
    color:#562EFF
}


/*course style*/

.courseImage img{
    width: 224px;
height: 104px;
}
.filled{
    color:#FFC014;
}
.empty{
    color:#AEAEAE;
}
.rate{
    color:#A2A2A2;
    margin-left: 10px;
}
.courseDuration{
    color:#FF4A60;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    padding:6px;
    font-size: 14.6913px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courseTitle a{
    text-decoration: none;
    color:#ED6B4F;
}
.lates-courses{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.course{
    width: 253px;
    height: 312px;
    box-shadow: inset 0 -2em 2em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* responsive for mobile*/
@media only screen and (max-width:688px) {
    .container{
        width:100%;
      
    }
    .section-title {
        text-align: center;
    }
    .playersTop,.blogSection,.lates-courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player,.topBlogs{
        flex-direction: column;
    }
    .lates-courses{
        row-gap: 20px;
        justify-items: center;
    }


}


/*responsive for tablet*/

@media only screen and (min-width: 689px) and (max-width: 991px) {
   .container{
    width: 100%;
   }
    .playersTop,.lates-courses{
        grid-template-columns: repeat(2,1fr);
    }
}
